node_modules
/bazel-bin
/bazel-ci_build-cache
/bazel-genfiles
/bazel-out
/bazel-serving
/bazel-tensorflow
/bazel-tensorflow_serving
/bazel-testlogs
/bazel-tf
/bazel-workspace
/tensorflow_serving/servables/tensorflow/testdata
/third_party/py/numpy/numpy_include
/util/python/python_include
/util/python/python_lib
*.iml
.idea/
/experimen_demo/javawrapper/.idea
.DS_Store
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lotensorflow_serving/servables/tensorflow/testdata

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
